<h2 style="margin-top: 30px; margin-bottom: 50px;">乃木クイ!</h2>
<%= button_to "クイズを始める", {controller: "nogichecks", action: "sort", sort: "1"}, {class: "start", method: :get} %>
<div style="margin-top: 50px;">
  <%= link_to "####", "#", class: "explanation" %>
</div>
<div>
  <%= link_to "利用規約", "#", class: "explanation" %>
</div>
<div>
  <%= link_to "プライバシーポリシー", "#", class: "explanation" %>
</div>
<div>
  <%= link_to "お問い合わせ", "#", class: "explanation" %>
</div>
