<h1>乃木オタチェッカー</h1>
<%= button_to "テストを始める", nogichecks_question_1_path, method: :get %>
<div>
  <%= link_to "乃木オタチェッカーとは", "#", class: "explanation" %>
</div>
<div>
  <%= link_to "利用規約", "#", class: "explanation" %>
</div>
<div>
  <%= link_to "プライバシーポリシー", "#", class: "explanation" %>
</div>
<div>
  <%= link_to "お問い合わせ", "#", class: "explanation" %>
</div>
