<h1>#####</h1>
<%= button_to "テストを始める", {controller: "nogichecks", action: "sort", sort: "1"}, {method: :get, class: "start"} %>
<div>
  <%= link_to "#####", "#", class: "explanation" %>
</div>
<div>
  <%= link_to "利用規約", "#", class: "explanation" %>
</div>
<div>
  <%= link_to "プライバシーポリシー", "#", class: "explanation" %>
</div>
<div>
  <%= link_to "お問い合わせ", "#", class: "explanation" %>
</div>
