<h3 style="margin-top: 30px; margin-bottom: 30px;">10問中<span style="color: #FF0000;"><%= @judge.count(true) %>問</span>正解 !</h3>
<%= link_to "クイズに戻る", nogichecks_index_path %>
<div class="one_q" style="margin-top: 50px; position: relative;">
  <hr>
  <div class="number">
    <h3>1</h3>
  </div> 
  <div style="display: inline-block;">
    <% if @judge[0] == true %>
      <h2 style="color: #FF0000;">〇</h2>                                             
    <% else %>
      <h2 style="color: #0000FF;">×</h2>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <h2><%= @your_answer[0] %></h2>
  </div>
  <div style="margin-top: 50px;">
    <h4>Q.<%= @random_q[0].question.content %></h4>
  </div>
  <div class="q_answer">
    <h3>A.<%= @answer[0].content %></h3>
  </div>
</div>
<hr>
<div class="one_q" style="margin-top: 50px; position: relative;">
  <div class="number"> 
    <h3>2</h3>
  </div>
  <div style="display: inline-block;">
    <% if @judge[1] == true %>
      <h2 style="color: #FF0000;">〇</h2>                                             
    <% else %>
      <h2 style="color: #0000FF;">×</h2>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <h2><%= @your_answer[1] %></h2>
  </div>
  <div style="margin-top: 50px;">
    <h4>Q.<%= @random_q[1].question.content %></h4>
  </div>
  <div class="q_answer">
    <h3>A.<%= @answer[1].content %></h3>
  </div>
</div>
<hr>
<div class="one_q" style="margin-top: 50px; position: relative;">
  <div class="number"> 
    <h3>3</h3>
  </div>
  <div style="display: inline-block;">
    <% if @judge[2] == true %>
      <h2 style="color: #FF0000;">〇</h2>                                             
    <% else %>
      <h2 style="color: #0000FF;">×</h2>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <h2><%= @your_answer[2] %></h2>
  </div>
  <div style="margin-top: 50px;">
    <h4>Q.<%= @random_q[2].question.content %></h4>
  </div>
  <div class="q_answer">
    <h3>A.<%= @answer[2].content %></h3>
  </div>
</div>
<hr>
<div class="one_q" style="margin-top: 50px; position: relative;">
  <div class="number"> 
    <h3>4</h3>
  </div>
  <div style="display: inline-block;">
    <% if @judge[3] == true %>
      <h2 style="color: #FF0000;">〇</h2>                                             
    <% else %>
      <h2 style="color: #0000FF;">×</h2>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <h2><%= @your_answer[3] %></h2>
  </div>
  <div style="margin-top: 50px;">
    <h4>Q.<%= @random_q[3].question.content %></h4>
  </div>
  <div class="q_answer">
    <h3>A.<%= @answer[3].content %></h3>
  </div>
</div>
<hr>
<div class="one_q" style="margin-top: 50px; position: relative;">
  <div class="number"> 
    <h3>5</h3>
  </div>
  <div style="display: inline-block;">
    <% if @judge[4] == true %>
      <h2 style="color: #FF0000;">〇</h2>                                             
    <% else %>
      <h2 style="color: #0000FF;">×</h2>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <h2><%= @your_answer[4] %></h2>
  </div>
  <div style="margin-top: 50px;">
    <h4>Q.<%= @random_q[4].question.content %></h4>
  </div>
  <div class="q_answer">
    <h3>A.<%= @answer[4].content %></h3>
  </div>
</div>
<hr>
<div class="one_q" style="margin-top: 50px; position: relative;">
  <div class="number"> 
    <h3>6</h3>
  </div>
  <div style="display: inline-block;">
    <% if @judge[5] == true %>
      <h2 style="color: #FF0000;">〇</h2>                                             
    <% else %>
      <h2 style="color: #0000FF;">×</h2>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <h2><%= @your_answer[5] %></h2>
  </div>
  <div style="margin-top: 50px;">
    <h4>Q.<%= @random_q[5].question.content %></h4>
  </div>
  <div class="q_answer">
    <h3>A.<%= @answer[5].content %></h3>
  </div>
</div>
<hr>
<div class="one_q" style="margin-top: 50px; position: relative;">
  <div class="number"> 
    <h3>7</h3>
  </div>
  <div style="display: inline-block;">
    <% if @judge[6] == true %>
      <h2 style="color: #FF0000;">〇</h2>                                             
    <% else %>
      <h2 style="color: #0000FF;">×</h2>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <h2><%= @your_answer[6] %></h2>
  </div>
  <div style="margin-top: 50px;">
    <h4>Q.<%= @random_q[6].question.content %></h4>
  </div>
  <div class="q_answer">
    <h3>A.<%= @answer[6].content %></h3>
  </div>
</div>
<hr>
<div class="one_q" style="margin-top: 50px; position: relative;">
  <div class="number"> 
    <h3>8</h3>
  </div>
  <div style="display: inline-block;">
    <% if @judge[7] == true %>
      <h2 style="color: #FF0000;">〇</h2>                                             
    <% else %>
      <h2 style="color: #0000FF;">×</h2>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <h2><%= @your_answer[7] %></h2>
  </div>
  <div style="margin-top: 50px;">
    <h4>Q.<%= @random_q[7].question.content %></h4>
  </div>
  <div class="q_answer">
    <h3>A.<%= @answer[7].content %></h3>
  </div>
</div>
<hr>
<div class="one_q" style="margin-top: 50px; position: relative;">
  <div class="number"> 
    <h3>9</h3>
  </div>
  <div style="display: inline-block;">
    <% if @judge[8] == true %>
      <h2 style="color: #FF0000;">〇</h2>                                             
    <% else %>
      <h2 style="color: #0000FF;">×</h2>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <h2><%= @your_answer[8] %></h2>
  </div>
  <div style="margin-top: 50px;">
    <h4>Q.<%= @random_q[8].question.content %></h4>
  </div>
  <div class="q_answer">
    <h3>A.<%= @answer[8].content %></h3>
  </div>
</div>
<hr>
<div class="one_q" style="margin-top: 50px; position: relative;">
  <div class="number"> 
    <h3>10</h3>
  </div>
  <div style="display: inline-block;">
    <% if @judge[9] == true %>
      <h2 style="color: #FF0000;">〇</h2>                                             
    <% else %>
      <h2 style="color: #0000FF;">×</h2>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <h2><%= @your_answer[9] %></h2>
  </div>
  <div style="margin-top: 50px;">
    <h4>Q.<%= @random_q[9].question.content %></h4>
  </div>
  <div class="q_answer">
    <h3>A.<%= @answer[9].content %></h3>
  </div>
</div>
<hr>
<div style="padding-bottom: 50px;">
  <%= link_to "クイズに戻る", nogichecks_index_path %>
</div>


<script>

</script>
