<h2>診断結果</h2>
<h3>あなたのオタク度は<%= @maniac %></h3>
<p><%= @result %></p>
<a href = "/nogichecks/index">診断へ戻る</a>
<div class="table" style="margin-top: 50px;">
  <div class="tr">
    <div class="td_th">No.</div>
    <div class="td_th">回答</div>
    <div class="td_th">答え</div>
    <div class="td_th">解説</div>
  </div>
  <div class="tr">
    <div class="td">
      <% [*(1..2)].each do |n| %>
        <p><%= n %></p>
      <% end %>
    </div>
    <div class="td">
      <% @your_answer.each do |q| %>
        <% if q == true %>
          <p style="color: #FF0000;">〇</p>
        <% else %>
          <p style="color: #0000FF;">×</p>
        <% end %>
      <% end %>
    </div>
    <div class="td">
      <% @answer.each do |a| %>
        <p><%= a.content %></p>
      <% end %>
    </div>
  </div>
  <div class="tr">
    <div class="td">
      <% @answer.each do |a| %>
        <p><%= a.content %></p>
      <% end %>
    </div>
  </div>
</div>

<script>
$(function(){
  $(.tr).hide();

  $(.star).on("click", function(){
    $(.tr).show();
  });
});
</script>

