<h2>診断結果</h2>
<h3>あなたのオタク度は<%= @maniac %></h3>
<p><%= @result %></p>
<a href = "/nogichecks/index">診断へ戻る</a>
<div style="margin-top: 50px;">
  <div> 
    <p>Q.1</p> 
  </div>
  <div>
    <% if @sort == 1 %>
      <% @your_answer.each do |q| %>
        <% if q == true %>
          <p style="color: #FF0000;">〇</p>                                             
        <% else %>
          <p style="color: #0000FF;">×</p>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div>
    <% @question.each do |q| %>
      <p><%= q.content %></p>
    <% end %>
  </div>
  <div>
    <% @answer.each do |a| %>
      <p>A.<%= a.content %></p>
    <% end %>
  </div>
</div>
<div style="margin-top: 50px;">
  <div> 
    <p>Q.2</p>
  <div>
    <% if @sort == 2 %>
      <% @your_answer.each do |q| %>
        <% if q == true %>
          <p style="color: #FF0000;">〇</p>                                             
        <% else %>
          <p style="color: #0000FF;">×</p>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div>
    <% @question.each do |q| %>
      <p><%= q.content %></p>
    <% end %>
  </div>
  <div>
    <% @answer.each do |a| %>
      <p>A.<%= a.content %></p>
    <% end %>
  </div>
</div>


<script>
$(function(){
  $(.tr).hide();

  $(.star).on("click", function(){
    $(.tr).show();
  });
});
</script>
