<h2>診断結果</h2>
<h3>あなたのオタク度は<%= @maniac %></h3>
<p><%= @result %></p>
<a href = "/nogichecks/index">診断へ戻る</a>
<div style="margin-top: 50px;">
  <div> 
    <p>Q.1</p> 
  </div>
  <div style="display: inline-block;">
    <% if @judge[0] == true %>
      <p style="color: #FF0000;">〇</p>                                             
    <% else %>
      <p style="color: #0000FF;">×</p>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <%= @your_answer[0] %>
  </div>
  <div>
    <p><%= @question[0].content %></p>
  </div>
  <div>
    <p>A.<%= @answer[0].content %></p>
  </div>
</div>
<div style="margin-top: 50px;">
  <div> 
    <p>Q.2</p>
  <div style="display: inline-block;">
    <% if @judge[1] == true %>
      <p style="color: #FF0000;">〇</p>                                             
    <% else %>
      <p style="color: #0000FF;">×</p>
    <% end %>
  </div>
  <div style="display: inline-block;">
    <%= @your_answer[1] %>
  </div>
  <div>
    <p><%= @question[1].content %></p>
  </div>
  <div>
    <p>A.<%= @answer[1].content %></p>
  </div>
</div>


<script>

</script>
