<div class="bg"></div>
<h2 class="question"><%= @question.content %></h2>
<div id="circle" style="margin-left: auto;">
</div>

<p class="correct">〇正解</p>
<p class="incorrect">×不正解</p>

<% @question.options.each do |o| %>
  <%= button_to({controller: "nogichecks", action: "sort", sort: @sort + 1}, {params: {is_answer: o.is_answer}, class: "button_option btn--white", method: :get})do %>
    <p><%= o.content %></p>
  <% end %>
<% end %>

<script>
$(function(){
  var time;
  var bar = new ProgressBar.Circle(circle, {
    strokeWidth: 6,
    easing: 'linear',
    duration: 5000,
    color: '#FF0000',
    trailColor: '#eee',
    trailWidth: 1,
    svgStyle: null,
    step: function(state, bar) {
      bar.setText(time);
    }
  });
  bar.text.style.color = "#000"
  bar.text.style.fontSize = '30px';
  bar.animate(1.0);
    
  function startTimer(){
    time--;
    if(time == 0){
      clearInterval(setI);
      location.href= "/nogichecks/<%= @sort + 1 %>";
    }
  }

  startInterval();

  function startInterval(){
    time = 5;
    setI = setInterval(startTimer, 1000);
  }

  var btns = document.querySelectorAll(".button_option");
  var elements = document.querySelectorAll("input[name='is_answer']");
  var log = function(){
      location.href="/nogichecks/<%= @sort + 1 %>";
  };
  var move = setTimeout(log, 5000);
  $.each(elements, function(index, value){
    $(btns[index]).on("click", function(e){
      clearInterval(setI);
      clearTimeout(move);
      bar.stop()
      $(this).css("background-color", "#FF0000");
      $(this).css("box-shadow", "0px 5px #bfbfbf")
      var answer = $(value).val();
      $.ajax({
        type: "POST",
        url: "/nogichecks/<%= @sort %>",
        data: {
          is_answer: answer
        },
        dataType: "html"
      })
      if (answer == "true") {
        setTimeout(function(){
          $(".correct").fadeIn(5);
        },500);
        $(".bg").css("position", "fixed");
        $(".bg").css("top", "0");
        $(".bg").css("left", "0");
        $(".bg").css("width", "100%");
        $(".bg").css("height", "100%");
        $(".bg").css("background", "rgba(0,0,0, .7)");
        $(".button_option").prop("disabled", true);
      } else {
        setTimeout(function(){
          $(".incorrect").fadeIn(5); 
        },500);
        $(".bg").css("position", "fixed");
        $(".bg").css("top", "0");
        $(".bg").css("left", "0");
        $(".bg").css("width", "100%");
        $(".bg").css("height", "100%");
        $(".bg").css("background", "rgba(0,0,0, .7)");
        $(".button_option").prop("disabled", true);
      }
      e.preventDefault();
      setTimeout(function(){
        location.href = "/nogichecks/<%= @sort + 1 %>";
      }, 2000);
    });
  })
});
</script>

